In [1]:
import pandas as pd
import networkx as nx

In [2]:
df = pd.read_csv("com-amazon.ungraph.txt", delimiter="\t", header=None, names=["source", "target"])

In [3]:
df

        source  target
0            1   88160
1            1  118052
2            1  161555
3            1  244916
4            1  346495
...        ...     ...
925867  548343  548378
925868  548354  548356
925869  548368  548454
925870  548391  548411
925871  548411  548458

[925872 rows x 2 columns]

In [4]:
#Using networkx to create an undirected grpah
G = nx.from_pandas_edgelist(df, source='source', target='target')

In [5]:
#Finding the most popular product node using degree. 
degree_table=pd.DataFrame(G.degree(), columns=['id', 'degree']).sort_values(by='degree', ascending=False)
most_popular=degree_table.head(1)  
most_popular_id =most_popular['id'].values[0]
most_popular_id

np.int64(548091)

In [6]:
# level-1 co-occurences of most popular product
co_occurrences=df[(df['source'] == most_popular_id) | (df['target'] == most_popular_id)]

In [7]:
#2nd level co-occurrences (products co-purchased with the 1st-level products)
level1 = co_occurrences['source'].astype(int).tolist() + co_occurrences['target'].astype(int).tolist()
level1 = list(set(level1))

In [8]:
level2 = df[df['source'].isin(level1) | df['target'].isin(level1)]

In [9]:
level2.to_csv('Filtered-data-nodelink.csv', index=False, header=['source', 'target'])

In [10]:
level2

        source  target
195         59  194736
800        254  547522
801        254  548091
6282      1875  308631
6283      1875  364287
...        ...     ...
925834  548078  548305
925835  548085  548091
925840  548091  548185
925841  548091  548280
925842  548091  548305

[1813 rows x 2 columns]